/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    /*** General ***/

    .section-title{
        font-size: 18px;
    }

    /*** Hebergement & Populaires ***/
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

/*** Hebergements ***/

    .hebergements {
        width: 750px;
        margin-left: -50px;
    }

    .hebergements-title {
        margin-bottom: -15px;
        margin-left: 15px;
    }

    .hebergements-cards img {
        width: 210.33px;
        height: 110px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .card-hebergement{
        margin: 20px;
    }

    .afficher-plus{
        margin-left: 20px;
    }

    .card-title{
        font-size: 14px;
    }

    .card-subtitle{
        font-size: 12px;
    }

/*** Populaires ***/

    .populaires {
        width: 100%;
        margin-top: -20px;
        margin-left: -50px;
    }

    .populaires-title{
        margin-bottom: -30px;
        justify-content: space-between;
        width: 45em;

    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        flex: 1 1 0px;
        width: 38%;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-cards img {
        width: 60px;
        height: 105px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
   
    .populaires-cards a:last-child {
        margin-right: 0;
    }

/*** filtres ***/

.filtres-block {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.filtre-titre{
    display: block;
    margin-bottom: 20px;
}

.filtres{
    display: flex;
    justify-content: space-around;
    margin-left: -20px;
}

.filtre{
    border-radius: 25px;
    display: flex; 
    align-items: center; 
    white-space: nowrap; 
    font-size: 16px;
}


/*** footer ***/

    footer {
        display: flex;
        justify-content: space-between;
        margin-right: -90px;
        margin-left: -20px;
    }

    .footer-bold{
        font-size: 15px;
    }

    .footer-link{
        font-size: 13px;
    }

/*** Activité ***/

    .activites-cards img {
        width: 150px;
        height: 160px;

    }

    .activites{
        margin-left: -20px;
        margin-top: 35px;
        padding: 10px;
    }

    .card-txt{
        width: 150px;
        justify-content: center;
    }

    .activites-cards .card-title {
        margin: 2px;
        padding: 10px;
        font-size: 13px;
    }

}