/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    /*** General ***/

    .main-container {
        width: 100%;
        padding: 0;
        box-sizing: border-box;
    }

    main{
        margin: 0 20px 10px 20px;
    }
    
    /*** Header ***/
    
    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
      }
    
      .logo-container {
        margin-bottom: 20px;
      }
    
      .booki-logo {
        width: 61.09px;
        height: 19px;
        padding: 25px 25px 40px 25px;
        margin: 0;
      }
    
      .entete-liens {
        
      }
    
      .entete-lien {
        padding: 10px 45.3px 10px 45px;
        margin: 0;
        text-align: center;
        display: inline-block;
        width: 24%;
      }
    
      .entete-lien:hover {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: 0px solid transparent;
      }

    /*** Titre ***/

    .main-title {
        margin-bottom: 0px;
    }

    /*** Formulaire de Recherche ***/

    button > .fas.fa-search {
        display: contents;
    }

    .rechercher-button{
        display: none;
    }

    button {
        border-radius: 15px;
    }

    /*** Filtres ***/

    .filtres {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .filtre {
        text-align: center;
    }

    .filtre-txt{
        display: inline;
        font-size: 14px;
    }

    /*** Info ***/

    .fa-info{
        margin-right: 15px;
    }


    /*** Hebergement ***/

    .hebergements {
        order: 2;
      }
    
    .hebergements-cards a {
        width: 95%;
    }

    .hebergements-cards img {
        height: 130px;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
      }

      /*** Populaire ***/

      .populaires {
        order: 1;
    }

    .populaires-cards a {
        width: 100%;
    }

      .populaires-cards{
        display: flex;
        flex-direction: column;
    }

    .populaires-cards img {
        width: 30%;
        height: 146px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .populaires-title {
        display: flex;
        align-items: center;
    }

    .fa-chart-line{
        margin: 0 0 15px 100px;
    }

    /*** Footer ***/

    footer{
        display: flex;
        flex-direction: column;
        margin: 40px 20px 0px 20px;

    }

    .footer-block{
        width: 60%;
        padding: 15px;
    }

    

    /*** Activités ***/

    .activites{
        margin: 40px 0 0 0;
    }
    
    .activites-cards .acti-card {
        margin-bottom: 20px;
    }

    .activites-cards {
        margin-left: 10px;
      }


    .activites-cards a{
        width: 100%;
        margin-bottom: 20px;
    }

    .activites-cards img {
        height: 141px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .activites-cards .card-title {
        margin: 20px;
        font-size: 16px;
        text-align: left;
    }
  }