/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    /*** General ***/

    body{
        margin: auto;
    }
    
    .main-container {
        padding: 0;
    }

    
    /*** Header ***/
    
    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
      }
    
      .logo-container {
        margin-bottom: 20px;
      }
    
      .booki-logo {
        width: 61.09px;
        height: 19px;
        padding: 25px 25px 40px 25px;
        margin: 0;
      }
    
      .entete-liens {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }
    
      .entete-lien {
        margin: 0;
        text-align: center;
        display: inline-block;
        width: 50%;
        padding-bottom: 13px;
      }
    
      .entete-lien:hover {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: 0px solid transparent;
      }

    /*** Titre ***/

    .section-main{
        margin: 0 20px;
    }

    .section-title {
        font-size: 22px;
        width: 75%;
      }

    /*** Formulaire de Recherche ***/

    .search-box{
        width: 100%;
    }
    
    .search-box i {
        width: 5%;
        margin-right: 15px;
        text-align: center;
    }

    input{
        width: 95%;
    }

    button > .fas.fa-search {
        display: contents;
    }

    .rechercher-button{
        display: none;
    }

    button {
        border-radius: 15px;
    }

    /*** Filtres ***/

    .filtres {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .filtre {
        text-align: center;
        width: 45%;
        padding: 8px 0px;
        margin: 4px;
    }

    .filtre-txt{
        display: inline;
        font-size: 14px;
    }

    /*** Sous-titre info ***/

    .fa-info{
        margin-right: 15px;
    }

    .info{
        margin-bottom: 0px;
    }

    /*** Hebergement et Populaire ***/

    .hebergements-and-populaires {
        margin: 0;
      }

    .hebergements-and-populaires section{
        border-radius: 0;
    }

    /*** Hebergement ***/

    .hebergements {
        order: 2;
        margin: 50px 20px;
        background-color: white;
      }

      .hebergements-title {
        padding: 0;
        margin: 0;
      }
    
      .hebergements-cards > a {
        box-shadow: 15px 9px 29px #e6e6e6;
        border-radius: 20px;
      }

    .hebergements-cards a {
        width: 89%;
    }


    .hebergements-cards img {
        height: 130px;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        padding: 0px;
      }

      /*** Populaire ***/

      .populaires {
        order: 1;
        padding: 20px;
        width: 100%;
        background-color: var(--main-bg-color);
        border-radius: 0px;
    }

    .populaires-cards a {
        width: 100%;
        margin-bottom: 0;
    }

      .populaires-cards{
        display: flex;
        flex-direction: column;
        padding: 0px;
        width: 89%;
    }

    .populaires-cards img {
        width: 30%;
        height: 146px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .populaires-title {
        display: flex;
        align-items: center;
        padding: 0;
    }

    .fa-chart-line{
        margin: 0 0 15px 100px;
    }

    /*** Activités ***/

    .activites{
        margin: 25px;
        width: 86%;
    }
    
    .activites-cards .acti-card {
        margin-bottom: 20px;
    }


    .activites-cards a{
        width: 100%;
        margin-bottom: 20px;
    }

    .activites-cards img {
        height: 141px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .activites-cards .card-title {
        margin: 20px;
        font-size: 16px;
        text-align: left;
    }

/*** Footer ***/

    footer{
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
    }

    .footer-block{
        width: 60%;
        padding: 15px;
        height: auto;
        margin-bottom: 30px;
    }

  }

